<section class="about">
   <h2>About This Course</h2>
   <p>Include your long course description here. The long course description should contain 150-400 words.</p>

   <p>This is paragraph 2 of the long course description. Add more paragraphs as needed. Make sure to enclose them in paragraph tags.</p>
 </section>

 <section class="prerequisites">
   <h2>Prerequisites</h2>
   <p>Add information about course prerequisites here.</p>
 </section>

 <section class="course-staff">
   <h2>Course Staff</h2>
   <article class="teacher">
     <div class="teacher-image">
       <img src="/static/images/logo.png" align="left" style="margin:0 20 px 0">
     </div>

     <h3>Staff Member #1</h3>
     <p>Biography of instructor/staff member #1</p>
   </article>

   <article class="teacher">
     <div class="teacher-image">
       <img src="/static/images/logo.png" align="left" style="margin:0 20 px 0">
     </div>

     <h3>Staff Member #2</h3>
     <p>Biography of instructor/staff member #2</p>
   </article>
 </section>

 <section class="faq">
   <section class="responses">
     <h2>Frequently Asked Questions</h2>
     <article class="response">
       <h3>What web browser should I use?</h3>
       <p>The Open OMock platform works best with current versions of Chrome, Firefox or Safari, or with Internet Explorer version 9 and above.</p>

       <p>See our <a href="http://edx.readthedocs.org/en/latest/browsers.html">list of supported browsers</a> for the most up-to-date information.</p>
     </article>

     <article class="response">
       <h3>Question #2</h3>
       <p>Your answer would be displayed here.</p>
     </article>
   </section>
 </section>
