<style type="text/css"><!--
.img_block p{
    	text-align: center;
    }
  	
  .options {
    margin-left: auto;
    margin-right: auto;
    clear: right;
  }
  .new {
  	clear:left;
 	}
  
  
    .img_block {
    
        width: 20%;
		float:left;
		margin:0 5%;
        
        -moz-box-shadow:inset 0px 1px 0px 0px #1c1b18;
        -webkit-box-shadow:inset 0px 1px 0px 0px #1c1b18;
        box-shadow:inset 0px 1px 0px 0px #1c1b18;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
        background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
        background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
        background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
        background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
        background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
        
        background-color:#eae0c2;
        
        -moz-border-radius:7px;
        -webkit-border-radius:7px;
        border-radius:7px;
        
        border:1px solid #333029;
        
        display:inline-block;
        color:#505739;
        font-family:Trebuchet MS;
        font-size:17px;
        font-weight:bold;
        padding:6px 11px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #ffffff;
        
    }
    .img_block:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
        background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
        background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
        background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
        background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
        background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
        
        background-color:#ccc2a6;
    }
    .img_block:active {
        position:relative;
        top:1px;
    }
--></style>
<h1>Syllabus</h1>
<p>Many courses include a syllabus tab that includes an overview of the course and what is expected of you.</p>
<p>This demonstration course shows and explains everything that that instructors can do on OMock, and an explaination of how to interact with those components. It is organized into "Weeks" in order to illustrate a common organization scheme within OMock classes, but each "Week" does not have to take a week to go through.</p>
<p>If you just want a basic tour of the bare nessessities that you need to understand in order to get started, click below.</p>
<a href="/course/courseware/d8a6192ade314473a78242dfeedfbf5b/">
<p class="img_block">The Basics</p>
</a>
<p>&nbsp;</p>
<p class="new">There are three general types of interactions of interactions is a classroom:</p>
<div class="options">
<div class="img_block">
<p>Teacher-to-Student</p>
<a href="/course/courseware/interactive_demonstrations/"><img alt="" src="/static/teacher_to_student.png" /> </a></div>
<div class="img_block">
<p>Student-to-Teacher</p>
<a href="/course/courseware/graded_interactions/"><img alt="" src="/static/student_to_teacher.png" /> </a></div>
<div class="img_block">
<p>Student-to-Student</p>
<a href="/course/courseware/social_integration/"><img alt="" src="/static/student_to_student.png" /> </a></div>
</div>
<div id="ap_listener_added">&nbsp;</div>
<p class="new">When you are ready to begin learning new subject, learn how to pick a class and get started!</p>
<a href="/course/courseware/5caa15aeee604ee990bdde2e3b018776/">
<div class="img_block">Course Catalog</div>
</a>
<p>&nbsp;</p>
