<p><strong>Welcome to the&nbsp;OMock Demo Course Introduction.</strong>&nbsp;This is where you can explore how to take an&nbsp;OMock course (like this one). Most courses have an "intro" video that shows you how it all works.&nbsp;</p>
<p style="margin-right: 0px; font-size: 16px; margin-left: 0px; font-family: 'Open Sans', Verdana, Geneva, sans-serif;">You can watch the introduction video (below) or scroll though the course studies and assignments using the toolbar (above). &nbsp;Just for fun, we'll keep track of your work in this demo course, and show you your progress in the toolbar just like in a real course.</p>
<p style="margin-right: 0px; font-size: 16px; margin-left: 0px; font-family: 'Open Sans', Verdana, Geneva, sans-serif;">Watch the overview video (below), then click on "Example Week One" in the left hand navigation to get started.</p>