<h2>Videos on OMock</h2>
<p>In this example, taken from <a style="font-size: 1em; line-height: 1.6em;" href="https://www.edx.org/course/harvard-university/cb22-1x/ancient-greek-hero/1047">The Ancient Greek Hero</a>, a passage of The Odyssey is delivered verbally, as they were originally performed. Although much of modern scholarship around these works is based off of written transcripts of the poem, this video shows how much a human face and voice contributes to the ancient work of art.&nbsp;As you can see, OMock&nbsp;instructors are able to do some really engaging things when presenting course material using video instead of in-person lecture or written text.</p>
<div id="ap_listener_added">&nbsp;</div>