<div>
<h2>Getting Your&nbsp;OMock Certificate</h2>
</div>
<div>
<p style="font-size: 16px;"><span style="line-height: 1.6;">If you passed your&nbsp;OMock course, your certificate will be delivered online through&nbsp;</span><a style="line-height: 1.6;" href="http://www.edx.org/" target="[object Object]">omock.com</a><span style="line-height: 1.6;">. &nbsp;Be sure to check your email in the weeks following the final grading &ndash; you will be able to download and print your certificate.</span>&nbsp;Once the certificate generation process has completed, you will be able to download it from your profile page.</p>
<p><img alt="" src="/static/OMock-SampleCertificate-Ux_x400.png" /></p>
<p>&nbsp;</p>
</div>