<h2>Labs and Demos</h2>
<p><img src="/static/labs_x250.png" alt="Labs" width="250" hspace="12" vspace="12" border="0" align="right" />Professors that create courses on&nbsp;OMock are able to implement highly interactive experiences that allow you as a student to experiment using easy to use online web applications. These labs are customized to each class and subject area. We have collected a couple of the more popular lab environments here for you to experience and play with.</p>
<p>Please be patient with yourself as you take a look around at these lab environments. You probably will not be able to answer these questions without taking a course on the topic first!</p>
<div id="ap_listener_added">&nbsp;</div>