<h2>Find Your Study Buddy</h2>
<p>Working with other students offline can help you get the most out of an online course and even increase the likelihood you will successfully complete the course. So, your homework is to find a study buddy.</p>
<p>The course specific discussion forums are a great place to find neighbors or even new friends to invite to a Meetup you are looking to organize or even a virtual Google Hangout.</p>
<p>&nbsp;</p>