<h2><span style="font-size: 1em; letter-spacing: 1px; line-height: 1.2em;">Working with Videos</span></h2>
<p><span style="font-size: 1em; letter-spacing: 1px; line-height: 1.2em;"><span style="letter-spacing: normal; line-height: 25.596590042114258px;">Here are a couple of example&nbsp;OMock lecture videos.&nbsp;They are taken from real courses, so unless you already know about Homeric epics, electronic circuits, and physics, you might not understand all of the content. However, you can use these examples to see what a typical lecture might be like.</span></span></p>
<p><span style="font-size: 1em; letter-spacing: 1px; line-height: 1.2em;">You can control the speed of the video, volume, screen size and captions, and pause it whenever you like. When captions are enabled, the transcript appears alongside the video. Click anywhere in the transcript to jump to that point.&nbsp;</span></p>
<p>Typically you might be asked a few questions after watching a video segment - this helps you determine if you've understood the main points.</p>
<p>You can watch the video lectures at any time of day or week that is convenient. While timing is flexible with most courses (especially if you are auditing a course), make sure you keep up to date on weekly activities so you don't get behind.</p>
<!--StartFragment--><!--EndFragment-->
<p>&nbsp;</p>
<div id="ap_listener_added">&nbsp;</div>