<h2>ZOOMING DIAGRAMS</h2>
<p>Some&nbsp;OMock classes use extremely large, extremely detailed graphics. To make it easier to understand we can offer two versions of those graphics, with the zoomed section showing when you click on the main view.&nbsp;</p>
<p>The&nbsp;example below is from&nbsp;<a href="https://www.edx.org/course/mit/7-00x/introduction-biology-secret-life/1014" target="_blank">7.00x: Introduction to Biology</a>&nbsp;and shows a subset of the biochemical reactions that cells carry out.&nbsp;</p>
<p>You can view the chemical structures of the molecules by clicking on them. The magnified view also lists the enzymes involved in each step.</p>
<div class="zooming-image-place" style="position: relative;"><a class="loupe" href="//studio.edx.org/c4x/OMock/DemoX/asset/pathways_detail_01.png"> <img alt="magnify" src="//studio.edx.org/c4x/OMock/DemoX/asset/pathways_overview_01.png" /> </a>
<div class="script_placeholder" data-src="//studio.edx.org/c4x/OMock/DemoX/asset/jquery.loupeAndLightbox.js"></div>
<script>// <![CDATA[
JavascriptLoader.executeModuleScripts($('.zooming-image-place').eq(0), function() {
  $('.loupe').loupeAndLightbox({
    width: 350,
    height: 350,
    lightbox: false
  });
});
// ]]></script>
<div id="ap_listener_added"></div>
</div>