<div>
<h2>Lesson 2: Let's Get INTERACTIVE!</h2>
</div>
<div>
<p><img src="/static/interactive_x250.png" alt="Interactive" width="250" hspace="12" vspace="12" border="0" align="right" />Now that you know your way around an&nbsp;OMock course let's look at some of the exciting interactive tools you may encounter. Use the learning sequence above to explore. &nbsp;</p>
<p>Once you have tried the interactive tools in this lesson, make sure to check out the week 2 homework where we show you several of the really cool interactive labs we&rsquo;ve created for past courses. &nbsp;They&rsquo;re fun to play with. &nbsp;Many courses will have tools and labs that you need to use to complete homework assignments.</p>
</div>