<div>
<h2>OMock&nbsp;EXAMS</h2>
</div>
<div>
<p><img src="/static/exam_x250.png" alt="Exam" width="250" hspace="12" vspace="12" border="0" align="right" />Not all&nbsp;OMock courses have exams; many do, but not all. When choosing a course, it's a good idea to check the exam and study requirements, as well as any prerequisites.</p>
<p>Of course &nbsp;- you can "audit" any&nbsp;OMock course, which means you can study alongside other students using the same content, tools and materials, but you're not focused on grades and might skip the exams and assignments.&nbsp;</p>
<p>Follow this learning sequence via the links above to understand more about how we grade your work and track your progress.</p>
<p>&nbsp;&nbsp;</p>
</div>