<div>
<h2>GETTING STARTED</h2>
</div>
<p><img alt="Getting Started" src="/static/getting-started_x250.png" width="250" />Welcome to the first week of the sample&nbsp;OMock Course! We created this to give you &ldquo;the basics&rdquo; of how courses work at OMock. Almost all OMock&nbsp;courses have weeks, lessons, lectures, homework assignments, and exams. This demo course has three example weeks &ndash; most courses last 4 to 12 weeks.</p>
<p>You are in Week 1, Lesson 1. Lessons typically include things like videos, readings, interactive questions, laboratories and more. &nbsp;These are presented from left to right, in&nbsp;the row of links above. At OMock&nbsp;we call this a <em>lesson</em> or a <em>learning sequence.</em></p>
<p>Explore the lesson sequence by clicking on the icons above or the arrows below.&nbsp; We tried to make these fun, so make sure to check out each item. &nbsp;</p>
<div id="ap_listener_added">&nbsp;</div>