<h2>Code Grader</h2>
<p>The&nbsp;OMock system is capable of reviewing computer code written in Python or Matlab. Try entering your code in the text box below and submitting it for grading. After the grader has finished running your code, you will get instant feedback.</p>
<div id="ap_listener_added">&nbsp;</div>