<h2>Getting Help</h2>
<p>If you're running into a technical problem with OMock, check the <a style="font-size: 1em; line-height: 1.6em;" href="https://www.edx.org/student-faq">Student FAQ</a>. Most common issues are addressed there.</p>
<p>If you have a problem or a question which directly relates to the course, the best place to go for answers is the course discussion forum. The forums are moderated and it is there that course staff can directly read and respond to your inquiry. This includes questions about grading, but please be sure not to reveal answers to other students!</p>
<p>If you have a general question, suggestion, or problem you can use the "help" button on the left to report it to the&nbsp;OMock support team. We strive to reply to all inquiries within one business day.</p>