<h2>WHEN ARE YOUR Exams?</h2>
<p>Every course treats the timing on its exams differently, and you should be really careful to pay attention to any announcements about exam timing that your course makes.</p>
<p>&nbsp;</p>
<div id="ap_listener_added">&nbsp;</div>