<p>This is another video meant to illustrate a different style of presenting material that instructors might use. Again, this is taken from a real course, so don't feel like you have to understand the topic they are discussing.</p>
<div id="ap_listener_added">&nbsp;</div>