<p><span style="color: #4c4c4c; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">The demonstrations that professors are able to put together for their&nbsp;<span style="color: #3c3c3c; font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;">OMock</span>&nbsp;videos can be extremely engaging and informative at the same time. Here is an example of another kind of presentation that you might encounter in a class.&nbsp;</span></p>
<div id="ap_listener_added">&nbsp;</div>