<p>The demonstrations that professors are able to put together for their OMock&nbsp;videos can be extremely engaging and informative at the same time. Here is an example of another kind of presentation that you might encounter in a class.&nbsp;</p>
<div id="ap_listener_added">&nbsp;</div>