<h2>&nbsp;OVERALL GRADE PERFORMANCE</h2>
<p style="margin-top: 0px; margin-right: 0px; margin-left: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 16px; vertical-align: baseline; color: #4c4c4c;">The progress tab (selectable near the top of each page in your course) shows your performance. Click on it now, and you will see how you're doing in this demo course.</p>
<p style="margin-top: 0px; margin-right: 0px; margin-left: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 16px; vertical-align: baseline; color: #4c4c4c;">The bar chart shows the overall percentage that you have earned on each assignment in the course, and how each of those assignments combine into your overall grade. Further down the page is a detailed breakdown of your score on every graded question in the class.&nbsp;</p>
<p><img alt="" src="/static/ProgressPage.png" /></p>
<p style="margin-right: 0px; margin-left: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 16px; vertical-align: baseline; color: #4c4c4c;">You might notice that some of your assignments on the bar chart show an 'x'. The 'x's indicate the assignments that the&nbsp;OMock system will NOT be counting toward your final grade, according to the course grading. The 'x's go to the assignments that you scored the lowest on. &nbsp;</p>
<p style="margin-right: 0px; margin-left: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 16px; vertical-align: baseline; color: #4c4c4c;">Each course has its own percentage cutoff for a Certificate of Mastery. You can see where those cutoffs are by looking at the vertical description. In this demo, a "pass" is considered 60%. When you "pass" a live&nbsp;OMock course, you will receive a certificate after the class has closed. Sorry - the demo course does not grant certificates!</p>
<h2 id="ap_listener_added">&nbsp;</h2>