<h2 style="text-rendering: optimizelegibility; font-size: 19px; margin: 30px 40px 30px 0px; padding: 0px; border: 0px; outline: 0px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: baseline;">Be SOCIAL&nbsp;</h2>
<p><img src="/static/social_x250.png" alt="Be Social" width="250" hspace="12" vspace="12" border="0" align="right" /></p>
<p>A big part of learning online includes &ldquo;being social.&rdquo; We encourage all students to communicate within the course discussion forums &ndash; a great place to connect with other students and to get support from the course staff. Some students and professors also engage through other social mediums like Meetup or Facebook.</p>
<p>Recent research has found that if you take a class with a friend, or engage socially with other learners while taking a course, there is a higher likelihood that you will complete a course. If you haven&rsquo;t already, consider finding a study buddy!</p>
<p>Check out more information about the discussion forum by navigating to the next item in this learning sequence.</p>
<p>In the discussion forums, remember to be polite and respectful. Simply put, treat others the way you want to be treated.</p>